@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

body {
  font-family: 'Gilroy-Regular', sans-serif;
  background-color: #ddd;
  color: #333;
  line-height: 1.6;
  width: 65%;
  margin: auto;
}

#container {
  display: flex;
}

#left-section {
  background-color: peachpuff;
  padding: 0 20px;
  flex-basis: 20%;
}

#right-section {
  background-color: #fff;
  padding: 0 20px;
  flex-basis: 80%;
}

.title {
  text-align: center;
}

.picture img {
  padding-top: 20px;
  width: 100%;
  border-radius: 50%;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

.email {
  color: #333;
  text-decoration: none;
}

.email:hover {
  cursor: pointer;
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}